@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



body{
    font-family: 'Rubik', sans-serif;
    margin:auto;
    background-color: #18191e;
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin-top: 120px;
}



header{
    background-color:#252a33;
    border-bottom: 1px solid;
    border-color: rgb(237, 164, 47, .5);
    overflow: hidden;
    Position: fixed;
    top:0;
    width: 100vw;
    z-index:1;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

header .logo{
    margin-left: 20%;
}

header::after {
    content: '';
    display: table;
    clear: both;
    
}


nav li{
    font-size: 18px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    Padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 700;
    
}

ul.myUL{
    display: inline-block;
    padding: 0;
    text-align: center;

}

nav ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

nav a:hover{
    color: aquamarine;
}

nav ul li a{
    text-decoration: none;
    Color: #eda42f;
    text-transform: uppercase;
}

.logo img {
    float: left;
    width: 250px;
    height: auto;
    Margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    
    
}

hr.line1{
    height: 5px;
    border: none;
    color:#eda42f;
    background-color:#eda42f;
}

hr.line2{
    color: #eda42f;
    border: none;
    background-color: #eda42f;
    height: 1px;
    opacity: 35%;
}

.toppage{
    margin-right: 20%;
    margin-left: 20%;
    display: flex;
    justify-content: space-between;
}

.lefttop{
    height: auto;
    width: auto;
    
}

.botpage{
    margin-right: 20%;
    margin-left: 20%;
    
}

.botpage h1{
    color:#eda42f;
}

.firstpara{
    background-color:#252a33;
    width: 350px;
    height: auto;
    border-radius: 10px;
    
}

.firstpara h2{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    color:#eda42f;
    margin:auto;
}
.firstpara p{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}

.firstpara a{
    color: aquamarine;
    text-decoration: none;
}

.firstpara a:hover{
    color: #eda42f;
    text-decoration: underline;
}

.advert{
    border-radius: 10px;
    margin-top: 30px;
}

.boxes {
    margin-left: 50px;
    margin-right: auto;
}

.boxes h2{
    color:#eda42f;
}

.box{
    
    Width: 737px;
    Height: 150px;
    border-radius: 10px;
    
    margin-bottom: 9px;
}



.article1{
    color:white;
}

.container1{
    width: 165px;
    height: 150px;
    Margin-right: 0px;
    float: left;
}

.logoinfo{
    text-align: center;

}

.logoinfo img{
    width: 115px;
    height: 115px;
    position: relative;
    border-radius: 360px;
    border-style: solid;
    border-color: rgb(237, 164, 47, .5);
    border-width: 1px;
    margin-top: 15px;
    
}

.logoinfo li {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-bottom: 4px;
    margin-top: 16px;

}
.twocontainer1{
    width: 250px;
    height: 150px;
    float: right;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: grid;
}

.webinfo{
    width: 300px;
    height: 150px;
    position: absolute;
    display: inline-block;
    color: white;
    margin-left: 165px;
}

.webinfo .webp{
    color:#eda42f;
    Font-size: 23px;
    Font-weight: 700;
    margin-bottom: 10px;
}

a {
    margin:auto;
}

.button{
    font-family: 'Roboto Mono', monospace;
    Width: 150px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #eda42f;
    margin: auto;
    box-shadow: inset 0 0 0 0 #eda42f;
    transition: ease-out .3s;
    
}

.button:hover{
    box-shadow: inset 150px 0 0 0 aquamarine;
    cursor: pointer;
}

.toprows{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px;
}
.bottomrow{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 30px
}

.topcontainer {
    display: inline-block;
    Width: 325px;
    height: 375px;
    background-color:#252a33;
    border-radius: 7px;
    border-style: solid;
    border-width: 2px;
    border-color:#41afa9;
}

.topinfo{
    display: block;
    position:absolute;
    width: 325px;
    height: 285px;
    background-color: #191f2b;
    border-radius: 7px;

}


.topimage img{
    display: block;
    width: 125px;
    height: 125px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 360px;
    border-style: solid;
    border-width: 2px;
    border-color: #41afa9;
}



.infotext {
    height: 105px;
    text-align: center;
    color: white;
    
}

.buttoncontainer{
    display:grid;
    width: 325px;
    height: 90px;
}

.topbutton{
    font-family: 'Roboto Mono', monospace;
    Width: 150px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #00ffb3;
    margin: auto;
    box-shadow: inset 0 0 0 0 #00ffd5;
    transition: ease-out .3s;
}

.topbutton:hover{
    box-shadow: inset 150px 0 0 0 #6f00ff;
    cursor: pointer;
}

.topbutton a{
    text-decoration: none;
    color: black;
}

.bottomribbon{
    width: 100%;
    height: 150px;
    background-color: #252a33;
}

.bottomrow{
    display: flex;
    align-self: auto;

}

.ribboncontent ul{
    list-style: none;
    float: left;
    margin-left: 18%;
}

.ribboncontent ul li{
}

.ribboncontent ul li a{
    Text-decoration: none;
    color:#8b92a0;
}

.ribboncontent ul li a:hover{
    color: aquamarine;
}
mark.color{
    color: aquamarine;
    background: none;
}

.carousel{
    position: relative;

}

.caritem{
    height: 255px;
    width: auto;
    background-position: center;
    background-size: cover;
    Border-radius: 7px;
    Padding: 1em;
    font-weight: bold;
    font-size: 2em;
    color: white;
    display: none;
}






.caritem--selected{
    display: block;
}

.carnav{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.panels{
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.panels h1{
    color:#eda42f;
}

.panelhead{
    color:#eda42f;
    Font-size: 35px;
    font-weight: 700;
}
.sitebox{
    height: 290px;
    width: 292px;
    background-color: #252a33;
    text-align:center;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(237, 164, 47, .5);
}

.sitebox a p:hover{
    text-decoration:underline;
    color:#00ffd5;
}

.sitebox img{
    width: 125px;
    height: 125px;
    border-radius: 4px;
    margin-top: 20px;
}

.siteboxrows{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
}

.sitebuttoncontainer{
    background-color: #323336;
    height: 76px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #8b92a071;
}

.sitebox .sbbutton{
    font-family: 'Roboto Mono', monospace;
    Width: 200px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #eda42f;
    margin-top: 11px;
    box-shadow: inset 0 0 0 0 #eda42f;
    transition: ease-out .3s;
}
.sitebox h2{
    color:white;
}
.sbbutton:hover{
    box-shadow: inset 200px 0 0 0 aquamarine;
    cursor: pointer;
}

.sitebox1{
    height: 280px;
    width: 280px;
    background-color: #252a33;
    text-align:center;
    border-radius: 10px;
}

.sitebox1 img{
    width: 125px;
    height: 125px;
    border-radius: 100%;
    margin-top: 11px;
    
}

.sitebox1 .sbbutton{
    font-family: 'Roboto Mono', monospace;
    Width: 150px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #eda42f;
    margin: auto;
    box-shadow: inset 0 0 0 0 #eda42f;
    transition: ease-out .3s;
}
.sitebox1 p{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sitebox1 .sbbutton:hover{
    box-shadow: inset 150px 0 0 0 aquamarine;
    cursor: pointer;
}

.gptpanels{
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.gptpanels h1{
    color:#eda42f;
}

.gptpanels .siteboxrows{
    margin-top: 10px;
}

.gptheader{
    color: white;
    font-size: 30px;
    margin-left: 20%;
    font-weight: 700;
}

.gpttxt{
    color: white;
    margin-left: 20%;
}

.line3{
    margin-left: 20%;
    margin-right: 20%;
    color: #eda42f;
    border: none;
    background-color: #eda42f;
    height: 1px;
    opacity: 35%;
}

.gptarticle{
    color: white;
    margin-right: 20%;
    margin-left: 20%;
}

.sitebox p{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sitebox a{
    text-decoration: none;
}

.contactus{
    margin-left: 20%;
    margin-right: 20%;
    height: 700px;
}

.blogpage{
    margin-right: 20%;
    margin-left: 20%;
    width: auto;
    height: 100vh;
}

.blogfeed{
    display: inline-block;
    width: 72%;
}

.blogfeed h1{
    color:rgba(245, 245, 245, 0.89);
}

.blogsidebar{
    display: inline-block;
    width: 25%;
    height: 100vh;
    float: right;
}

.blogsidebar .authp{
    margin-top: 21px;
    margin-bottom:21px;
    font-size: 32px;
    font-weight: 700;
    color:rgba(245, 245, 245, 0.89);
}

.author{
    display: flex;
    margin-bottom: 15px;
}

.author img{
    border-width: 1px;
    border-style: solid;
    border-color:#eda42f;
}

.authordetails{
    margin-top: 10px;
    
}
.auth{
    margin-top:0px;
    margin-bottom: 5px;
}


.authbio{
    margin: 0px;
}
.author a{
    text-decoration: none;
    color: aquamarine;
}

.author a:hover{
    text-decoration:underline;
    color:#eda42f
}

.authicon{
    border-width: 1px;
    border-style: solid;
    border-color:#eda42f;
}
.author .authbio{
    color:rgba(196, 196, 196, 0.671);
    margin-top: 0;
}
.featpost{
    width: 800px;
    height: 400px;
    background-color:#252a33;
    margin-left: 10px;
    position: relative;
    border-radius: 5px;
    
    
}


.featpost img{
    position: absolute;
    border-radius: 5px;
}

.fbp{
    margin-left: 10px;
    color:rgba(196, 196, 196, 0.671);

}

.featpostfeet{
    width: 800px;
    height: auto;
    margin-left: 10px;
    margin-top: 20px;
    position: absolute;
    border-radius: 5px;
}

.mediaheader{
    width: 800px;
    height: 25px;
    background-color: #252a33e8;
    display: flex;
    justify-content: center;
    position:absolute;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.mediaheader img{
    width: 100px;
    
    
}

.articledescription{
    width: 800px;
    height:100px;
    background-color: #252a33e8;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.articledescription img{
    height:70px;
    border-radius: 100%;
    Margin-top:15px;
    margin-left: 15px;
    display: inline-block;

}

.articleinfo{
    margin-left:100px;
}
.articlelink{
    margin-top: 0px;
    margin-bottom: 0px;
}

.infolist{
    display: inline-block;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.infolist img{
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius:0%;
    margin-left: 0%;
}

.infolist li{
    display: inline-block;
    font-size: 10pt;
    color:rgba(196, 196, 196, 0.671);
    margin-right: 20px;
}

.infolist li a{
    text-decoration:none;
    Color: rgba(196, 196, 196, 0.671);
}

.infolist li a:hover{
    color:aquamarine;
}

.articlelink a{
    text-decoration: none;
    color: aquamarine;
}
.articlelink a:hover{
    text-decoration:underline;
    color:#eda42f;
}
.featpostfoot1{
    display: inline-block;
    background-color: #252a33;
    width: 390px;
    height: 200px;
    border-radius: 5px;
    
}
.featpostfoot1 .foot1bg{
    border-radius: 5px;
    Position: relative;
}
.feetpostfoot1 .resicon{
    
}


.featpostfoot2{
    display: inline-block;
    background-color: #252a33;
    width: 390px;
    height: 200px;
    float: right;
    border-radius: 5px;

}



.sidebarauth{
    margin-top: 20px;
}

.author{
   
}

.author img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.authordetails{
    display: inline-block;
    margin-left: 10px;
}

.aboutus{
    color: white;
    margin-right: 20%;
    margin-left: 20%;
    height: auto;
}

.aboutus img{
    width: 100%;
}

.gloopabout a{
    text-decoration: none;
    color: white;
}
.gloopabout a:hover{
    text-decoration: underline;
    color: aquamarine;
}

.investres{
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
}

.investreshead{
    color: white;
}

.investres p{
    color: white;
}

.investres li{
    padding-top: 10px;
    color: white;
}

.blogheadimg img{
    width: 99vw;
    position: relative;
    margin-top: -140px;
}

.blogdesc{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    color: white;
}


.postarticleinfo {
    margin-left: 25px;
    
  }

.postinfolist{
    display: inline-block;
    padding-left: 0px;
    margin-top: 10px;
}

.postinfolist img{
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius:0%;
    margin-left: 0%;
}

.postinfolist li{
    display: inline-block;
    font-size: 10pt;
    color:rgba(196, 196, 196, 0.671);
    margin-right: 20px;
}

.postinfolist li a{
    text-decoration:none;
    Color: rgba(196, 196, 196, 0.671);
}

.postinfolist li a:hover{
    color:aquamarine;
}

.authdet{
    display: flex;
    align-items: center;
}

.authdet .authicon{
    height: 60px;
    border-radius: 100%;
    
}

.blogdesc h1{
    color: aquamarine;
    Font-weight: 100;
}


.blogpost{
    height: 100vh;
}

.blogwhole{
    width: auto;
    height: auto;
    margin-right: 20%;
    margin-left: 20%;
}

.blogwhole p{
    color: white;
}

.blogwhole h2{
    color: aquamarine;
    font-weight: 300;
}

.blogpost a{
    color: aquamarine;
    text-decoration: none;

}
.blogpost a:hover{
    color: #eda42f;
    text-decoration: underline;

}

.blogwhole ul li{
    color: white;
}

.blogpost{
    display: inline-block;
    width: 72%;
    height: 100vh;
}

.blogpost img{
    width: 100%;
}



.blogside{
    display: inline-block;
    margin-top: 15px;
    height: 100vh;
    width:25%;
    float: right;
}

.blogside .sitebox{
    margin-bottom: 15px;
}

.blogside .sitebox1{
    margin-bottom: 15px;
}

.weapons{
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
}

.weapons h1{
    Color: aquamarine;
}

.weaponrow{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.spacer{
    width:280px;
    height: 280px;
}



.weaponbox{
    height: 280px;
    width: 280px;
    background-color: #252a33;
    text-align:center;
    border-radius: 5px;
}

.weaponbox img{
    width: 250px;
    height: auto;
    
    
}

.weaponbox .sbbutton{
    font-family: 'Roboto Mono', monospace;
    Width: 150px;
    height: 35px;
    border: none;
    border-radius: 7px;
    background-color: #eda42f;
    margin: auto;
    box-shadow: inset 0 0 0 0 #eda42f;
    transition: ease-out .3s;
}
.weaponbox p{
    font-size: 25px;
    color: white;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 15px;
}

.weaponbox .sbbutton:hover{
    box-shadow: inset 150px 0 0 0 aquamarine;
    cursor: pointer;
}

.weaponskinpage{
    margin: 0 auto;
    height: auto;
    width: auto;
}

.weaponskinpage h1{
    color: #eda42f;
}

.weaponskinpage h2{
    color: #eda42f;
}

.weaponskinpage p{
    color: white;
}

.weaponarticle{

}

.weaponarticle img{
    width: 100%;
}

.weaponarticle p{
    color: white;
}

.weaponarticle h1{
    color:#eda42f;
}

.weaponarticle h2{
    color:aquamarine;
}

.weaponskinrow{
    display: flex;
    padding-bottom: 15px;
    justify-content:space-between;
}

.weaponskinrow .spacer{
    width: 247px;
    height: 280px;
    background-color:#18191e;
}

.weaponskinbox{
    background-color:#252a33;
    width: 245px;
    height: 280px;
    border-style:solid;
    border-width: 1px;
    border-color: rgb(237, 164, 47, .5);
    position: relative;
}

.weaponskinbox img{
    height: auto;
    width: 95%;
    margin-top: 17px;
    margin-left: 5px;
    
}

.weaponskinbox p{
    margin-top: 5px;
    margin-bottom: 0px;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    
}

.skinbuttons{
    width: 100%;
    height: 80px;
    background-color:#1f242d;
    display: flex;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    bottom: 0;
    position: absolute;
}

.skinbuttons button{
    font-family: 'Roboto Mono', monospace;
    Width: 95px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: #eda42f;
    margin: auto;
    box-shadow: inset 0 0 0 0 #eda42f;
    transition: ease-out .3s;
}

.skinbuttons button:hover{
    box-shadow: inset 150px 0 0 0 aquamarine;
    cursor: pointer;
}

.covert{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(255, 0, 0);
}

.classified{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(247, 0, 255);
}

.restricted{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(123, 0, 255);
}

.milspec{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(0, 85, 255);
}

.industrial{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(88, 158, 255);
}

.consumer{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(164, 202, 255);
}

.contraband{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 5px;
    border:0;
    background-color: rgb(255, 184, 52);
}


.weaponadvert{

}






@media screen and (max-width:600px)
{
    body{
        margin-top: 150px;
        
    }
    header .logo{
        margin-left: 0;
    }
    .toppage{
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .botpage{
        margin-left: 10px;
        margin-right: 10px;
    }

    .boxes{
        display: none;
    }
    .logo img{
        width:90vw;
    }
    header{
        height: 130px;
    }
    nav li{
        font-size: 18px;
        display: inline-block;
        margin-left: 25px;
        margin-right: 25px;
        padding-block: 0px;
        margin-bottom: 15px;
        font-weight: 550;
        
    }
    nav{
        height: 130px;
    }
    
    ul.myUL{
        display: block;
        height: 130px;
        text-align: center;
        
    }

    .panels{
        margin-left: 10px;
        margin-right: 10px;
    }

    .panels .sitebox{
        display: none;
    }

    .panels .sitebox1{
        width: 100%;
        margin-bottom: 30px;
    }

    .panelhead{
        width: 300px;
    }

    .panels p{
        font-size: 15pt;
    }

    .contactus{
        margin-left: 10px;
        margin-right: 10px;
        height: 100vh;
    }

    .blogside{
        display: none;
    }

    .blogheadimg{
        display: none;
    }

    .blogdesc{
        margin-left: 10px;
        margin-right: 10px;
    }

    .line3{
        margin-left: 10px;
        margin-right: 10px;
    }

    .blogwhole{
        margin-left: 10px;
        margin-right: 10px;
    }

    .blogpost{
        width: 100%;
    }

    .blogsidebar{
        display: none;
    }

    .blogpage{
        margin-right: 10px;
        margin-left: 10px;
    }

    .featpost{
        width: 100vw;
    }
    
}